.main{
    display: flex;
    /* position: fixed; */
    column-gap: 5rem;
    background-color: var(--chocolate);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10rem;
    width: 100%;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .logo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: var(--cream);
    font-size: 2rem;
    font-family: defaultFont;
    font-weight: 300;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease;
    padding: 0.8rem;
}
p:hover{
    border-bottom: 2px solid var(--cream);
    cursor: pointer;
}
.last{
    flex-direction: row;
}
.side-bar {
    margin-left: 1rem;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.side-bar.open {
    transform: translateX(0);
    opacity: 1;
}
@media (max-width: 87rem){
    .main{
        column-gap: 2rem;
    }
    p{
        font-size: 1.8rem;
    }
}
@media (max-width: 66rem){
    .main{
        column-gap: 1.3rem;
    }
    p{
        font-size: 1.5rem;
    }
    .logo{
        width: 115px;
        height: 130px;  
    }
}
@media (max-width: 57rem){
    .main{
        flex-direction: column;
        padding-bottom: 1rem;
    }
}
