.main{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 2rem;
    background-color: var(--chocolate);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%; 
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    margin: 0 1rem;
}
.main .logo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: var(--cream);
    font-size: 2rem;
    font-family: defaultFont;
    font-weight: 300;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease;
    padding: 0.8rem;
}
p:hover{
    border-bottom: 2px solid var(--cream);
    cursor: pointer;
    width: fit-content;
}
.last{
    flex-direction: row;
}
.menu-text{
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-text.closed{
    transform: translateY(-5px);
    opacity: 1;
}
.side-bar {
    margin-left: 1rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.2s ease;
    position:absolute;
    top:100%;
    padding: 1rem;
    pointer-events: none;
}
.side-bar.open {
    transform: translateY(0);
    opacity: 1;
    background-color: var(--chocolate);
    border-radius: 0 0px 10px 10px;
    pointer-events: auto;
}
.option{
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
}
.card.last p{
    min-width: 10rem;
    line-height: 2rem;
} 
@media (max-width: 1400px) {
    .card p{
        font-size: 1.3rem;
    }
}
@media (max-width: 1100px) {
    .card p{
        font-size: 1rem;
    }
}
@media (max-width: 1000px) {
    .main{
        flex-direction: column;
    }
}
