.main{
    display: grid;
    width: 100vw;
    height: 10rem;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem 15rem;
    column-gap: 5rem;
    background-color: var(--chocolate);
    align-items: center;
    justify-content: center;
}
.main .logo{
    text-align: center;
}
p{
    color: var(--cream);
    font-size: 2rem;
    font-family: defaultFont;
    font-weight: 300;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: border 0.5s ease;
    padding: 0.8rem;
}
p:hover{
    border-bottom: 2px solid var(--cream);
    cursor: pointer;
}
@media (max-width: 117rem){
    .main{
        grid-template-columns: 10rem 10rem 10rem 10rem 10rem 10rem;
        column-gap: 3rem;
    }
}
@media (max-width: 117rem){
    .main{
        grid-template-columns: 7.5rem 7.5rem 7.5rem 7.5rem 7.5rem 7.5rem;
    }
    p{
        font-size: 1.5rem;
    }
}