.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
.name{
    display: flex;
    text-wrap: nowrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.name h1{
    font-size: 4rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
}
.name p{
    font-size: 3rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: center;
}
.full-description{
    max-width: 60vw;
}
.full-description-text{
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
    padding: 0 1rem;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}
.detail{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid grey;
    margin: 1rem 0;
    padding-bottom: .3rem;
    text-wrap: nowrap;
}
.detail h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.detail p{
    font-size: 1.5rem;
    font-weight: 300;
}
.flat,.building,.advertisement{
    width: 100%;
}
.text-header{
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 0;
}
/* .image-slider{
    width: 80vw;
    overflow: hidden;
    position: relative;
}
.wrapper{
    display: flex;
    animation: slide 15s infinite;
} */
 .wrapper img{
    width: 80vw;
    height: 1000px;
}
.phone-function{
    margin: 1rem 0 .5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    gap: 1rem;
    flex-wrap: nowrap;
}
.phone-function button{
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0 1rem 0;
    border: none;
    border-radius: 10px;
    background-color: var(--lightBrown);
    color: white;
    text-wrap: nowrap;
    transition: .3s ease-in-out;
}
.phone-function button:hover{
    background-color: var(--carmel);
}
.phone-function .callbackButton{
    border-radius: 50%;
}
.phone-function .callbackNumber{
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.phone-function p{
    font-size: 2rem;
    text-wrap: nowrap;
    font-weight: 300;
}
.line{
    width: 27vw;
    margin: 1rem 0;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cream);
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    color: black;
    width: 35vw;
    border: 4px solid var(--lightBrown);
}
form h2{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 2rem;
    text-wrap: nowrap;
}
form .phone-number{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.rest-from{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.rest-from textarea{
    padding: 1rem;
    font-size: 1.3rem;
    width: 27vw;
    border: 2px solid gray;
    height: auto;
}
.rest-from .element{
    padding: 1.3rem;
    font-size: 1.3rem;
    width: 27vw;
    border-radius: 13px;
    border: 2px solid gray;
}
.checkboxes{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 27vw;
    gap: 1rem;
}
.checkboxes .checkbox-place input{
    height: 18px;
    width: 18px;
}
.checkboxes .checkbox-place label{
    font-size: 1.3rem;
    line-height: 1rem;
    margin-left: .3rem;
    font-weight: 300;
}
.rest-from button{
    padding: 1.5rem;
    width: 20rem;
    font-size: 2rem;
    border-radius: 13px;
    border: none;
    background-color: var(--lightBrown);
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.rest-from button:disabled,.rest-from button[disabled]{
    background-color: gray;
}
.rest-from button:disabled:hover,.rest-from button[disabled]:hover{
    background-color: red;
}
.rest-from button:hover{
    background-color: var(--carmel);
}
form a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
}
.rest-from .element.invalid,.rest-from textarea.invalid{
    border-color: red ;
}
.element:focus,.rest-from textarea:focus{
    -webkit-box-shadow: 19px 19px 45px -23px rgba(66, 68, 90, 1);
    -moz-box-shadow: 19px 19px 45px -23px rgba(66, 68, 90, 1);
    box-shadow: 19px 19px 45px -23px rgba(66, 68, 90, 1);
}
.error{
    font-size: 1.3rem;
    font-weight: 400;
    color: red;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
@media (max-width: 82rem) {
    .name{
        display: grid;
    }
    .container{
        gap: 2.6rem;
    }
    .info{
        width: 70vw;
    }
    form{
        width: 70vw;
        border: 3px solid var(--lightBrown);
    }
    .rest-from textarea{
        width: 52vw;
    }
    .rest-from .element{
        width: 52vw;
    }
    .checkboxes{
        width: 52vw;
    }
    .rest-from button{
        padding: 1.2rem;
        width: 15rem;
        font-size: 1.5rem; 
    }
}
@media (max-width: 50rem) {
    .name > h1{
        font-size: 3rem;
        line-height: 1.5rem;
    }
    .name > p{
        font-size: 2rem;
        line-height: 1.5rem;
    }
    .container{
        gap: 2rem;
    }
    .wrapper img{
        height: 40rem;
    }
    .detail{
        gap: 1rem;
        width: 100%;
        justify-content: center;
        margin: .6rem;
    }
    .left{
        width: 35vw;
        text-align: left;
    }
    .right{
        width: 35vw;
        text-align: right;
    }
    .left h2{
        font-size: 1.3rem;
    }
    .right p{
        font-size: 1.3rem;
    }
    .full-description-text{
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
    .phone-function p{
        text-wrap: wrap;
        line-height: 2.1rem;
        text-align: center;
    }
    .phone-function .callbackNumber{
        padding: .6rem;
        font-size: 1.3rem;
    }
    .rest-from textarea{
        font-size: 1.1rem;
        padding: 1.1rem;
    }
    .rest-from .element{
        font-size: 1.1rem;
        padding: 1.1rem;
    }
    .checkboxes .checkbox-place label{
        font-size: 1.1rem;
    }
    form a{
        font-size: 1rem;
        text-wrap: balance;
    }
    .rest-from button{
        padding: 1.1rem;
        width: 12rem;
        font-size: 1.2rem; 
    }
}
@media (max-width: 34rem) {
    .name > h1{
        font-size: 2.0rem;
        line-height: 1.2rem;
    }
    .name > p{
        font-size: 1.6rem;
        line-height: 1.2rem;
    }
    .wrapper img{
        height: 25rem;
    }
    .container{
        gap: 1.5rem;
    }
    .left h2{
        font-size: 1rem;
    }
    .right p{
        font-size: 1rem;
    }
    .phone-function div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    form h2{
        font-size: 2.3rem;
        text-wrap: balance;
        text-align: center;
        line-height: 2rem;
    }
    form .phone-number{
        font-size: 1.5rem;
        text-wrap: nowrap;
    }
}