.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.name{
    display: flex;
    gap: 2rem;
}
.name h1{
    font-size: 4rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.name p{
    font-size: 3rem;
    font-weight: 300;
    line-height: 2.5rem;
}
.full-description-text{
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
    line-height: 2.5rem;
    padding: 0 1rem;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
}
.detail{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid grey;
    margin: 1rem 0;
    padding-bottom: .3rem;
}
.detail h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.detail p{
    font-size: 1.5rem;
    font-weight: 300;
}
.flat,.building,.advertisement{
    width: 100%;
}
.text-header{
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem 0;
}
/* .image-slider{
    width: 50vw;
    overflow: hidden;
    position: relative;
}
.wrapper{
    display: flex;
    animation: slide 15s infinite;
} */
 .wrapper img{
    width: 80vw;
    height: 1000px;
}




@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}