<div class="container">
  <form (submit)="onSubmit($event)">
    <div class="question">
      <img
        src="/assets/images/icons/question-mark.png"
        alt="questionMark-icon"
      />
      <p>
        Have questions? Go ahead! We're here to help you find what you're
        looking for!
      </p>
    </div>
    <!-- finish form -->
    <div class="wrapper">
    <div class="inputs">
      <input
        [class.invalid]="contactForm.name().invalid() && contactForm.name().touched()"
        type="text"
        placeholder="Name..."
        class="name"
        [formField]="contactForm.name"
      />
      @if (contactForm.name().invalid() && contactForm.name().touched()) {
        <span class="errorMessage">{{ contactForm.name().errors()[0].message }}</span>
      }
      <input
      [class.invalid]="contactForm.email().invalid() && contactForm.email().touched()"
        type="email"
        placeholder="Email..."
        class="email"
        [formField]="contactForm.email"
      />
      @if (contactForm.email().invalid() && contactForm.email().touched()) {
        <span class="errorMessage">{{ contactForm.email().errors()[0].message }}</span>
      }
      <input
        [class.invalid]="contactForm.number().invalid() && contactForm.number().touched()"
        type="text"
        placeholder="Phone..."
        class="number"
        [formField]="contactForm.number"
      />
      @if (contactForm.number().invalid() && contactForm.number().touched()) {
        <span class="errorMessage">{{ contactForm.number().errors()[0].message }}</span>
      }
      <input
        [class.invalid]="contactForm.subject().invalid() && contactForm.subject().touched()"      
        type="text"
        placeholder="Subject..."
        class="subject"
        [formField]="contactForm.subject"
      />
      @if (contactForm.subject().invalid() && contactForm.subject().touched()) {
        <span class="errorMessage">{{ contactForm.subject().errors()[0].message }}</span>
      }
      <textarea
        [class.invalid]="contactForm.message().invalid() && contactForm.message().touched()"
        type="text"
        placeholder="Your message goes here..."
        class="message"
        [formField]="contactForm.message"
      ></textarea>
      @if (contactForm.message().invalid() && contactForm.message().touched()) {
        <span class="errorMessage">{{ contactForm.message().errors()[0].message }}</span>
      }
      </div>
      <div class="informations">
    <img
      src="/assets/images/background-contact.jpg"
      alt="background"
      width="500"
      height="500"
    />
    <div class="text-background">
      <h3>Address</h3>
      <p>Poland, Brodnica ul.Mostowa 22</p>
      <h3>Phone</h3>
      <p>+48 123 456 789</p>
      <h3>Instagram</h3>
      <p>@ModernVista_Brodnica</p>
      <h3>Email</h3>
      <p>ModernVista@apartments.com</p>
    </div>
  </div>
    </div>
    <div class="other">
      <input type="checkbox" [formField]="contactForm.check" />
      <p>I consent to the storage of my data according to the Privacy Policy</p>
    </div>
    <button type="submit" [disabled]="contactForm().invalid()">
      Send Message
    </button>
  </form>
  
  <!-- add here google map library -->
</div>
<div class="googleMaps">
  <img src="/assets/images/googleMaps.png" alt="" />
</div>
