.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 3rem 0;
}
.question{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    font-size: 1.5rem;
}
.inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex: auto;
}
.inputs .message{
    grid-column: 1/-1;
    resize: none;
}
.inputs input{
    padding: 1rem;
    font-size: 1.2rem;
}
.inputs textarea{
    padding: 1rem;
    font-size: 1rem;
}
form button{
    padding: 1.1rem;
    font-size: 1.5rem;
    background-color: var(--chocolate);
    border: none;
    color: white;
    border-radius: 30px;
    transition: background-color 0.5s;
}
form button:hover{
    background-color: var(--carmel);
}
.other{
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
}
.other input{
    width: 20px;
    height: 20px;
}
.informations{
    position: relative;
    text-align: center;
    color: white;
}
.informations img{
    filter: brightness(50%);
}
.text-background{
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-background > *{
    margin: 1rem;
}
@media (max-width: 91rem){
    .container{
        flex-direction: column-reverse;
    }
    form{
        width: 70vw;
    }
    .informations{
        width: 80vw;
    }
    .informations img{
        width: 100%;
    }
}
@media (max-width: 52rem){
    .inputs{
        display: flex;
        flex-direction: column;
    }
    .inputs > *{
        width: 75vw;
        height: auto;
    }
    .other{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    button{
        text-align: center;
    }
}
@media (max-width: 34rem){
    .text-background{
        font-size: 1.2rem;
    }
}