.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 3rem 0;
    width: 100vw;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.question{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    font-size: 1.5rem;
}
.inputs{
    display: flex;  
    /* align-items: center; */
    justify-content: center;
    flex: auto;
    flex-direction: column;
}
.inputs .message{
    resize: none;
}
.inputs input{
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
.inputs textarea{
    padding: 1rem;
    font-size: 1rem;
}
form button{
    padding: 1.1rem;
    font-size: 1.5rem;
    background-color: var(--chocolate);
    border: none;
    color: white;
    border-radius: 30px;
    transition: background-color 0.5s;
}
form button:hover{
    background-color: var(--carmel);
}
.other{
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
}
.other input{
    width: 20px;
    height: 20px;
}
.informations{
    position: relative;
    text-align: center;
    color: white;
}
.informations img{
    filter: brightness(50%);
}
.text-background{
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-background > *{
    margin: 1rem;
}
.googleMaps{
    width: 100vw;
}
.googleMaps img{
    width: 100vw;
    height: auto;
}
.invalid{
    border: 2px solid red;
}
.errorMessage{
    color: red;
    font-size: 1rem;
    margin-bottom: .3rem;
}
button:disabled, button[disabled]{
    background-color: gray;
}
button:disabled:hover, button[disabled]:hover{
    background-color: red;
}
/* repair rwd here */
@media (max-width: 91rem){
    .container{
        flex-direction: column;
    }
    form{
        width: 70vw;
    }
    
}
@media (max-width: 55rem){
    .wrapper{
        flex-direction: column;
        width: 80vw;
    }
    form{
        width: 80vw;
    }
    .informations img{
        width: 80vw;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
    }
    .other{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button{
        text-align: center;
    }
}
@media (max-width: 34rem){
    .text-background{
        font-size: 1.2rem;
        flex-wrap: wrap;
    }
}