*{
    font-family: defaultFont;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.image-team-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-team-container img{
    width: 100vw;
    height: auto;
    background-size: cover;
}
.reservation{
    position: absolute;
    background: rgba(0,0,0,0.8); 
    padding: 1.2rem;
    border-radius: 8px;
}
.reservation h2{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--cream);
    font-weight: 300;
    font-size: 2rem;
}
.reservation .input-item{
    padding: 1.2rem;
    border: none;
    outline: none;
    margin-left: 1rem;
}
.reservation button{
    padding: 1.2rem;
    margin-left: 1rem;
    color: var(--cream);
    font-size: 1.3rem;
    font-weight: 300;
}
.opinions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.opinions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: var(--chocolate);
    height: 20rem;
}
.card-opinion{
    background-color: var(--lightBrown);
    color: var(--cream);
    border-radius: 10px;
    border: 2px solid var(--cream);
    width: 25rem;
    padding: 3rem;
    height: 13rem;
    margin-left: 2rem;
}
.card-opinion p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    flex-wrap: wrap;
}
.card-opinion h2{
    font-size: 2rem;
    margin-top: 0.8rem;
    text-align: center;
}

.text-container{
    background-color: var(--cream);
    color: var(--lightBrown);
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container h1{
    font-size: 3rem;
    font-weight: 500;
}
.company-info-container{
    padding: 8rem 0;
    width: 100%;
    background-color: var(--cream);
    display: flex;
    align-items: center;
}

.image-container img{
    width: 65vw;
}
.text-company-container h1{
    font-size: 3.3rem;
    color: var(--lightBrown);
    text-align: center;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
.text-company-container p{
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: left;
    padding: 1rem;
    margin: 2rem;
    color: var(--carmel);
    flex-wrap: wrap;

}
.facilities{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--carmel);
    padding: 2rem 0 2rem;
}
.element{
    padding: 2rem;
    text-align: center;
}