*{
    font-family: defaultFont;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.image-team-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-team-container img{
    width: 100vw;
    height: auto;
    background-size: cover;
}

.opinions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.opinions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: var(--chocolate);
    /* height: 20rem; */
    padding: 2rem 0;
}
.card-opinion{
    background-color: var(--lightBrown);
    color: var(--cream);
    border-radius: 10px;
    border: 2px solid var(--cream);
    width: 25rem;
    padding: 3rem;
    height: 13rem;
    margin: 2rem ;
}
.card-opinion p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    flex-wrap: wrap;
}
.card-opinion h2{
    font-size: 2rem;
    margin-top: 0.8rem;
    text-align: center;
}

.text-container{
    background-color: var(--cream);
    color: var(--lightBrown);
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-container h1{
    font-size: 3rem;
    font-weight: 500;
    flex-wrap: wrap;
    line-height: 4rem;
    text-align: center;
}
.company-info-container{
    padding: 8rem 0;
    width: 100%;
    background-color: var(--cream);
    display: flex;
    align-items: center;
}

.image-container img{
    width: 65vw;
}
.text-company-container h1{
    font-size: 3.3rem;
    color: var(--lightBrown);
    text-align: center;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
.text-company-container p{
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: left;
    padding: 1rem;
    margin: 2rem;
    color: var(--carmel);
    flex-wrap: wrap;

}
.facilities{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--carmel);
    padding: 2rem 0 2rem;
}
.element{
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.element p{
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0 0 0;
}
@media (max-width: 140rem){
    .opinions{
        flex-wrap: wrap;
    }
}
@media (max-width: 87rem){
    .facilities .element{
        width: 13rem;
        height: 12.5rem;
        padding: 1rem;
    }
    .facilities{
        flex-wrap: wrap;
    }
    .element p{
        font-size: 1.5rem;
    }
    .opinions{
        font-size: 1.3rem;
    }
    .text-container h1{
        font-size: 2rem;
    }
}