*{
    font-family: defaultFont;
}
.image-team-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-team-container img{
    width: 100%;
    height: auto;
    background-size: cover;
}
.reservation{
    position: absolute;
    background: rgba(0,0,0,0.5); 
    padding: 1.2rem;
    border-radius: 8px;
}
.reservation h2{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--cream);
    font-weight: 300;
    font-size: 2rem;
}
.reservation .input-item{
    padding: 1.2rem;
}
.reservation button{
    padding: 1.3rem;
}