<div class="container">
    <div class="header">
        <div class="left">
            <h2>User Management System: Logged as {{this.authService.currentUser()?.role}}</h2>
        </div>
        <div class="right">
            <button (click)="onCreateUser()" >Add user <img src="/assets/images/icons/add-user.png" alt="add-user-icon"></button>
            <div class="creatingUser" [style.display]="modal() ? 'flex' : 'none'">
                <form novalidate (submit)="onSubmit($event)">
                    <h2>{{formMode() === 'create' ? 'New user' : 'Edit user'}}</h2>
                    <div class="pole-gender">
                        <p>Gender</p>
                        <div class="option">
                            <input type="radio" value="Male" [formField]="signUpForm.gender"><label>Male</label>
                        </div>
                        <div class="option">
                           <input type="radio" value="Female" [formField]="signUpForm.gender"><label>Female</label> 
                        </div>
                    </div>
                    <div class="pole">
                        <p>First Name</p>
                        <input type="text" [formField]="signUpForm.firstName">
                    </div>
                    <div class="pole">
                        <p>Last Name</p>
                        <input type="text" [formField]="signUpForm.lastName">
                    </div>
                    <div class="pole">
                        <p>Email</p>
                        <input type="email" [formField]="signUpForm.email">
                    </div>
                    <div class="pole">
                        <p>Password</p>
                        <input type="password" [formField]="signUpForm.password">
                    </div>
                    <div class="pole">
                        <p>Phone</p>
                        <input type="text" [formField]="signUpForm.phone">
                    </div>
                    <div class="pole">
                        <p>Role</p>
                        <select [formField]="signUpForm.role">
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                            <option value="Head Admin" [disabled]="authService.currentUser()?.role==='Admin'">Head Admin</option>
                        </select>
                    </div>
                    <div class="actions">
                        <button type="submit" class="save" (click)="onSubmit($event)">{{formMode() === 'create' ? 'Create user' : 'Edit user'}}</button>
                        <button type="button" class="cancel" (click)="switchModal()">Cancel</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <input type="text" class="filter-input" placeholder="Filter users" (input)="filterText.set($any($event.target).value)">
    <table>
        <tr>
            <th>#</th>
            <th [class.highlighted]="sortColumn() === 'firstName'" (click)="onSortBy('firstName')">
                First Name
                @if(sortColumn() === 'firstName'){
                    {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
            </th>
            <th [class.highlighted]="sortColumn() === 'lastName'" (click)="onSortBy('lastName')">
                Last Name
                @if(sortColumn() === 'lastName'){
                    {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
            </th>
            <th [class.highlighted]="sortColumn() === 'email'" (click)="onSortBy('email')">
                Email
                @if(sortColumn() === 'email'){
                    {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
            </th>
            <th [class.highlighted]="sortColumn() === 'phone'" (click)="onSortBy('phone')">
                Phone
                @if(sortColumn() === 'phone'){
                    {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
            </th>
            <th [class.highlighted]="sortColumn() === 'role'" (click)="onSortBy('role')">
                Role
                @if(sortColumn() === 'role'){
                    {{ sortDirection() === 'asc' ? '↑' : '↓' }}
                }
            </th>
            <th>Action</th>
        </tr>
        <!-- @for (user of users(); track user.id; let idx = $index) { -->
        @for (user of paginatedUsers(); track user.id; let idx = $index) {
            <tr [class.current-user]="isCurrentUser(user)" >
                <td>{{idx+1}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.role}}</td>
                <td>
                    <button [disabled]="user.role==='Head Admin' && authService.currentUser()?.role==='Admin'" (click)="onEditUser(user)">Edit</button>
                    <button [disabled]="(user.role==='Head Admin' && authService.currentUser()?.role==='Admin') || isCurrentUser(user)" (click)="onDeleteUser(user.id)">Delete</button>
                </td>
            </tr>
        }
        
    </table>
    <div class="pagination">
        <button (click)="currentPage.set(currentPage() - 1)" [disabled]="currentPage() === 1">Prev</button>;
        <span>Page {{currentPage()}} / {{totalPages()}}</span>
        <button (click)="currentPage.set(currentPage() + 1)" [disabled]="currentPage() === totalPages()">Next</button>;

    </div>
    @if(filteredUsers().length === 0) {
        <h2 style="text-align: center; font-size: 3rem; margin: 5rem 0;">No users found</h2>
    }
    @if(showConfirm()) {
        <app-confirm-modal title="Delete user" message="Are you sure?" (confirm)="confirmDelete()" (cancel)="cancelDelete()"></app-confirm-modal>
    }
</div>