.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,0.5);

  display: grid;
  place-items: center;

  z-index: 9999;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;

  width: 300px;
  text-align: center;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.danger {
  background: red;
  color: white;
}
.modal{
  animation: popup 0.2s ease;
}

@keyframes popup{
  from{
    transform: scale(0.8);
    opacity:0;
  }
  to{
    transform: scale(1);
    opacity:1;
  }
}