.container{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cream);
}
.wrapper{
    background-color: white;
    border-radius: 20px;
    padding: 9rem;
    margin: 9rem;
    width: 50vw;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.wrapper h1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
.profile-picture-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5rem;
}
.profile-picture-wrapper .block p{
    font-size: 2rem;
    line-height: 3rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    height: 4rem;
}
.profile h2{
    font-size: 2.5rem;
    width: 25rem;
    font-weight: 500;
}
.profile p{
    font-size: 1.5rem;
}
.element{
    padding: 1rem;
    width: 25rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.text-role{
    cursor: help;
}
.password{
    cursor: not-allowed;
    padding: 1rem;
    width: 25rem;
    font-size: 1.5rem;
}
.change-password-buton{
    padding: 1rem;
    font-size: 1.5rem;
    width: 15rem;
    text-wrap: nowrap;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease-in;
}
.change-password-buton:hover{
    background-color: red;
}
.parent {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

.changing-password-container {
    background-color: white;
    padding: 3rem;
    border-radius: 12px;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
}
.close-password-form{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
}
.close-button-container{
    width: 100%;
    text-align: right;
}
.old-password, .new-password{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#oldPasswd, #newPasswd{
    padding: .4rem;
    width: 10vw;
    font-size: 1.5rem;
    margin-bottom: .3rem;
}
.div-checkbox{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .3rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
button[class="confirm"]{
    width: 15rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    letter-spacing: .2rem;
    border-radius: 15px;
}