.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.customerData{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    text-align: center;
}
.customerData h1{
    font-size: 3.5rem;
    font-weight: 400;
    font-style: oblique;
}
.customerData .stars{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.customerData p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.rest{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.rest .image p{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}
.rest .contentOpinion{
    display: flex;
    justify-content: center;
    align-self: center;
}
.rest .contentOpinion p{
    font-size: 2.5rem;
    line-height: 3.4rem;
    font-weight: 300;
    flex-wrap: wrap;
    padding:  1rem 2rem;
    font-style: italic;
    text-align: center;
}
@media (max-width: 86rem){
    .customerData{
        gap: 1rem;
    }
    .customerData h1{
        font-size: 2.7rem;
    }
    .customerData p{
        font-size: 1.2rem;
        margin-bottom: .7rem;
    }
    .rest .image{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rest .image img{
        width: 50vw;
        height: 40vw;
        
    }
    .rest .contentOpinion p {
        line-height: 2rem;
        font-size: 1.5rem;
    }
}
@media (max-width: 34rem){
    .customerData h1{
        font-size: 1.5rem;
    }
    .customerData .stars{
        gap: .5rem;
    }
    .customerData .stars img{
        width: 20px;
        height: 20px;
    }
    .customerData{
        gap: .5rem;
    }
    .customerData p{
        font-size: 1rem;
        margin-bottom: .7rem;
    }

    .rest .contentOpinion p {
        font-size: 1rem;
    }
}