.container{
    display: flex;
    justify-content: center;
}
.menu{
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 3rem 0;
    background-color: var(--lightBrown);
    overflow-y: auto;
    height: 86vh;
}
.menu h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}
.opinion{
    width: 90rem;
    background-color: aqua;
}
.card{
    width: 32rem;
    border: 1px solid gray;
    border-radius: 10px;
    height: 15rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
}
.card p{
    font-size: 2rem;
    font-weight: 300;
}