.container{
    display: flex;
    justify-content: center;
}
.menu{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 3rem 0;
    background-color: var(--lightBrown);
    overflow-y: auto;
    height: 86vh;
}
.menu h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    line-height: 2rem;
    text-align: center;
    padding: 0 .5rem;
}
.opinion{
    width: 75vw;
    background-color: var(--cream);
}
.card{
    width: 20vw;
    border: 1px solid gray;
    border-radius: 10px;
    height: 15rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
}
.card p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
}
.active{
    transition: ease-in-out 0.3s;
    background-color: var(--cream);
}
@media (max-width: 124rem){
    .card{
        padding: 1.7rem;
    }
    .card p{
        font-size: 1.5rem;
    }
    img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 78rem){
    .card{
        padding: .5rem;
    }
    .card p{
        font-size: 1rem;
    }
    img{
        width: 50px;
        height: 50px;
    }
}