img{
    width: 45vw;
    height: 50vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3rem 0 5rem;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2.4rem 0;
    flex-wrap: wrap;
    padding: 1.5rem;
}
.header h1{
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.header p{
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 3rem;
    margin: 2rem 0;
    text-align: center;
}
.attractions{
    display: flex;
    flex-direction: column;
    gap: 15rem;
}
.card{
    display: flex;
    column-gap: 3rem;
    align-items: center;
    flex-direction: row;
}
.card .text-card{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card .text-card p{
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 200;
    flex-wrap: wrap;
}
.card-even{
    background-color: var(--chocolate);
    color: white;
    text-align: center;
}
.card-odd{
    background-color: var(--cream);
    flex-direction: row-reverse;
    text-align: center;
}
.img-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 88rem){
    .attractions{
        gap: 7rem;
    }
    .card{
        flex-direction: column;
    }
    .card .text-card{
        padding: 1rem;
    }
    .card .text-card p{
        font-size: 2rem;
        line-height: 2rem;
    }
    .card .img-card img{
        width: 800px;
        height: 600px;
    }

}
@media (max-width: 66rem){
    .header h1{
        font-size: 3rem;
        line-height: 2rem;
    }
    .header p{
        font-size: 2.3rem;
    }
}
@media (max-width: 52rem){
    .attractions{
        gap: 4rem;
    }
    .card .text-card p{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .card .img-card img{
        width: 500px;
        height: 350px;
    }
}
@media (max-width: 36rem){
    .header h1{
        font-size: 2.3rem;
        flex-wrap: wrap;
    }
    .header p{
        font-size: 1.3rem;
        flex-wrap: wrap;
    }
    .card .text-card p{
        font-size: 1.5rem;
    }
    .card .img-card img{
        width: 350px;
        height: 200px;
    }
}
