@font-face {
    font-family: defaultFont;
    src: url(assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
}
:root{
    --lightBrown: #713600;
    --carmel: #C05800;
    --cream: #FDFBD4;
    --chocolate: #38240D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body { height: 100%;width: 100vw; } */
body { 
    /* width: 100%;
    min-width: 1000px; */
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
body, html{
    max-width: 100%;
    overflow-x: hidden;
}
